@import "../assets/fonts/GothamPro";
@import "../assets/fonts/Handjet";

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    background: black;
    color: white;
    font-family: "Gotham Pro", sans-serif;
  }

  .countdown-text {
    font-family: "Handjet", sans-serif;
  }

  #__next {
    @apply min-h-screen;
  }
}
