@layer components {
  #toggler {
    width: 28px;
    height: 22px;
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      height: 3px;
      width: 100%;
      opacity: 100%;
      background: white;
      border-radius: 16px;
      transform: rotate(0deg);
      transition: 0.2s ease-in-out;
    }

    & span:nth-child(1) {
      top: 0px;
    }

    & span:nth-child(2) {
      top: 9px;
    }

    & span:nth-child(3) {
      bottom: 0;
    }

    &.open span:nth-child(1) {
      top: 9px;
      transform: rotate(135deg);
    }

    &.open span:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    &.open span:nth-child(3) {
      top: 9px;
      transform: rotate(-135deg);
    }
  }

  .banner {
    @apply flex flex-col items-center py-20 overflow-x-hidden;

    span {
      -webkit-text-stroke: 1px #bd2222;
      text-stroke: 1px #bd2222;

      @media screen(sm) {
        -webkit-text-stroke: 2px #bd2222;
        text-stroke: 2px #bd2222;
      }

      &::before,
      &::after {
        @apply text-black absolute px-[5.5vw] md:px-[4.5vw] whitespace-nowrap;
      }

      &::before {
        @apply -translate-x-full;
      }

      @apply relative font-medium text-[15vw] leading-[17vw] md:leading-[15vw] text-[#BD2222];
    }
  }

  .answer {
    &.open {
      @apply h-auto opacity-100 mt-6;
    }

    @apply font-normal max-w-xl opacity-0 h-0 mt-0 leading-loose transition-[opacity,height,margin] ease-in-out duration-500;
  }
}
